name: Frontend CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./WhatToDov1-fronetnd

    steps:
      - uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: WhatToDov1-fronetnd/WhatToDov1-fronetnd/package-lock.json

      - name: Install
        run: npm ci

      - name: Test
        run: npm run test:run

      - name: Build
        run: npm run build
